.img__tag {
  overflow: hidden;
  position: relative;
}
.patricia {
  opacity: 0.7;
  object-fit: cover;
  width: 100%;
  height: 90vh;
}
.text__tag{
    width: 100%;
    height: 90.8vh;
    background-color: #ffe05d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text__tag > h1 {
    font-size: 90px;
    font-weight: bolder;
}
.text__tag > h5{
    font-size: 40px;
}